.logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 86px;
    height: 86px;
}

.logo-admin {
    background-image: url("../img/logo.png");
    background-size: cover;
    margin-left: 8px;
    padding: 0px;
    width: 60px;
    height: 60px;
}

.responsive {
    width: 100%;
    height: auto;
}

.login {
    float: right;
}