.logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 86px;
    height: 86px;
}

.logo-admin {
    background-image: url("../img/logo.png");
    background-size: cover;
    margin-left: 8px;
    padding: 0px;
    width: 60px;
    height: 60px;
}

.responsive {
    width: 100%;
    height: auto;
}

.login {
    float: right;
}
/* MenuHomeItem */
.menuItemPic {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.menuItem {
    display: flex;
}
.menuItem p {
    margin-bottom: 4px;
}
.leftItem {
    max-width: 250px;
}
.rightItem {
    max-height: 250px;
    padding-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
}
@media only screen and (max-width: 580px) {
    .menuItem {
        flex-wrap: wrap;
    }
    .menuItemPic {
        height: 100%;
        margin-left: 8px;
        margin-right: 8px;
    }
}
/*CartItem*/
.menuItemPic-cart {
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.menuItem-cart {
    display: flex;
}
.menuItem-cart p {
    margin-bottom: 4px;
}
.leftItem-cart {
    /* max-width: 250px; */
}
.rightItem-cart {
    /* max-height: 250px; */
    width: 100%;
    padding-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
}